<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://business.trendii.com/" target="_blank">TRENDii</a> building things for contextualised advertisement with some awesome people. I have a strong interest in various internet technologies. Committed to lifelong learning, I'm always eager to learning new things and curious about the mechanics behind how things operate.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably cooking, hiking, or playing with my cat.
    </p>
  </div>
</section>
