<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for programming_language in site.data.skills.programming_languages %}
          <li class="skillz__category__item">{{programming_language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Packages</div>
        <ul>
          {% for package in site.data.skills.packages %}
          <li class="skillz__category__item">{{package.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Tools</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Knowledges</div>
        <ul>
          {% for knowledge in site.data.skills.knowledges %}
          <li class="skillz__category__item">{{knowledge.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
